VITE_API_URL=/api

# Token Sale Configuration
VITE_TOKEN_RATE=100
VITE_MIN_PURCHASE=10
VITE_USDT_DECIMALS=6

# Solana Configuration
VITE_SOLANA_NETWORK=devnet
VITE_DEVNET_RPC=https://api.devnet.solana.com
VITE_USDT_MINT=6gWLtgTa3oS1UTa4Q4Qevu5AwYwT9ohnh8MQZwTL1xVh
VITE_TREASURY_ADDRESS=9UCKSVjTtxxSCyuLf38WW69Z4D4wzNxt7w9AN8rE2bPn

# ICO Parameters
VITE_TOTAL_SUPPLY=1000000000
VITE_HARD_CAP=10000000
